@font-face {
  font-family: 'iconfont';  /* project id 1651837 */
  src: url('//at.alicdn.com/t/font_1651837_ayle0zqpkow.eot');
  src: url('//at.alicdn.com/t/font_1651837_ayle0zqpkow.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1651837_ayle0zqpkow.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1651837_ayle0zqpkow.woff') format('woff'),
  url('//at.alicdn.com/t/font_1651837_ayle0zqpkow.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1651837_ayle0zqpkow.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e601"} 

.icon-arrow-right:before { content: "\e75c"} 

.icon-order:before { content: "\e61e"} 

.icon-resource:before { content: "\e628"} 

.icon-member:before { content: "\e6e5"} 

.icon-service:before { content: "\e607"} 

.icon-download:before { content: "\e687"} 

.icon-tel:before { content: "\e614"} 

.icon-account:before { content: "\e648"}

.icon-shop:before { content: "\e635"} 

.icon-foodsale:before { content: "\e618"} 

.icon-searchfood:before { content: "\e763"} 

.icon-usercenter:before { content: "\e841"} 

.icon-star:before { content: "\e761"} 

.icon-plus:before { content: "\e600"} 

.icon-subtraction:before { content: "\e612"} 

.icon-empty-log:before { content: "\e6df"} 

.icon-empty-benefit:before { content: "\e619"} 

.icon-gift-box:before { content: "\e670"} 

.icon-service:before { content: "\e608"} 

.icon-cart:before { content: "\e602"} 

.icon-thumb:before { content: "\e61a"} 